<h1 class="brown-text">Add Description</h1>

    <%= form_for @photo do |f|%>
    <%= f.label :Description %>
    <%= f.text_area :description %>

    
    <%= f.submit "Submit" %>

    <% end %>