
<h2>Recent Uploads</h2>

<div class="card-columns">
  <% @photos.each do |image| %>
    <div class="card">
      <div class="card-body p-1">
        <%# <%= text_field_tag image.user %> 
        <% @user.photos.each do |photo| %>
        <h2><%= photo.description %></h2>
          <% end %> <br>
          <% if @user.image.attached? %>
<div style="width:400px; height:auto">
<%= image_tag (@user.image), style: 'width:100%' %> 
<% end %>

        <%= link_to "View Profile", user_photo_path(@user, image.user_id), class: 'btn btn-secondary stretched-link' %>
      </div>
    </div>
  <% end %>
</div>
