<h1 class="brown-text"> This is  <%= @user.email%> account !</h1>
<br>
<% if @user.image.attached? %>
<div style="width:400px; height:auto">
<%= image_tag (@user.image), style: 'width:100%' %> 
<% end %>
<br>
<a class="waves-effect waves-light btn-small"<%= link_to "Add comment ", new_user_photo_comment_path(@user, @photo, @comment)%><br></br>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>


